spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    database-platform: org.hibernate.dialect.H2Dialect

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: test-client-id
            client-secret: test-client-secret

app:
  oauth2:
    authorized-redirect-uri: http://localhost:3000/oauth2/redirect

logging:
  level:
    root: WARN
    com.sportschaos.auth_service: DEBUG
